.blue-col {
	color: #209cee;
}

.sizing-big {
	font-size: 1.25em;
}

.sizing {
	font-size: 1.05em;
}

.bg-color-div {
	background-color: #c4fff7;
	border-radius: 8%;
	align-items: center;
}

.proj {
	border-radius: 10%;
}

.p-buttom {
	padding-bottom: 8px;
}

.parent-hov:hover {
	transform: scale(1.1);
}

.centralized {
	min-width: 300px;
	max-width: 300px;
}

.lefty {
	margin-left: 8px;
}