h1{
	width: 100%;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	color: white;
}

body {
	background-image: url("img1.jpg");
	background-size: cover;
}

li {

	cursor: pointer;
	font-size: 24px;
}

#userInput {
	height: 40px;
}

#enter {
	margin-left: 20px;
}

.cont {
	display: flex;
	justify-content: center;
}

.cont1 {
	display: flex;
	width: 100%;
	justify-content: center;
}

.listCont {
	border: 4px solid rgba(255, 255, 255, 0.4);
	width: 600px;
}

.done {
	text-decoration: line-through;
}

.bd {
	text-decoration: none;
	margin-left: 80px;
	height: 28px;
	vertical-align: middle;
	float: right;
}
.bd:hover {
	background-color: red;
}