.skill-hover:hover {
	transform: scale(1.1);
}

.centered-mongo {
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #209cee;
    font-weight: bold;
    animation:blinkingText 1s infinite;
    cursor: default;
}

.centered-node {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #209cee;
    font-weight: bold;
    animation:blinkingText 1s infinite;
    cursor: default;
}

@keyframes blinkingText{
    0%{     color: #209cee;    }
    5%{     color: #209cee;    }
    10%{     color: #209cee;    }
    15%{     color: #209cee;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    100%{   color: #209cee;    }
}

.holdering {
    position: relative;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 768px) {

    .centered-mongo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #209cee;
    font-weight: bold;
    animation:blinkingText 1.1s infinite;
    cursor: default;
}

.centered-node {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #209cee;
    font-weight: bold;
    animation:blinkingText 1.1s infinite;
    cursor: default;
}
}

.sub-color {
    color: #ffc30f;
}

.right-marg {
    margin-right: 30px;
}

.lang-size {
    width: 128px;
    height: 128px;
}
